.section {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

.section.cc-cta {
  margin-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
  background-color: hsla(0, 0.00%, 95.69%, 1.00);
}

@media screen and (max-width: 991px) {
  .section.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section.cc-cta {
    padding: 15px;
  }
}

@media screen and (max-width: 479px) {
  .section.cc-cta {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.section.cc-home-wrap {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .section.cc-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.section.cc-store-home-wrap {
  padding-top: 0px;
}

@media screen and (max-width: 991px) {
  .section.cc-store-home-wrap {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section.cc-store-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 479px) {
  .section.cc-store-home-wrap {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.footer {
  width: 100%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1920px) {
  .footer {
    max-width: none;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    max-width: none;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer-wrap {
  display: flex;
  padding-top: 70px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer-wrap {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .list-wrapper {
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .list-wrapper {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.dropdown {
  position: static;

  display: flex;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
  flex-direction: column;
}

@media screen and (min-width: 1920px) {
  .dropdown {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .dropdown {
    margin-bottom: 10px;
  }
}

.dropdown-toggle {
  position: static;

  display: flex;
  width: 100%;
  height: 69px;
  margin: 0px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;

  background-color: hsla(204.70588235294122, 100.00%, 0.00%, 1.00);

  color: hsla(228, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1920px) {
  .dropdown-toggle {
    height: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .dropdown-toggle {
    height: 70px;
  }
}

.primary-button {
  padding: 12px 25px;

  border-radius: 0px;

  background-color: #1a1b1f;

  transition: background-color 400ms ease,opacity 400ms ease,color 400ms ease;

  color: white;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 1920px) {
  .primary-button {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .primary-button {
    font-size: 14px;
    line-height: 22px;
  }
}

.primary-button:hover {
  background-color: #32343a;
  color: white;
}

.primary-button:active {
  background-color: #43464d;
}

@media screen and (max-width: 991px) {
  .primary-button {
    padding: 10px 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .primary-button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    line-height: 18px;
  }
}

@media screen and (max-width: 479px) {
  .primary-button {
    margin-left: 35px;
  }
}

.div-block-8 {
  display: flex;
  align-items: center;
}

.dropdown-icon-closed {
  margin-right: 10px;
  font-family: 'Fa Solid 900';
  font-size: 1.3rem;
  line-height: 2rem;
}

@media screen and (min-width: 1920px) {
  .dropdown-icon-closed {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-icon-closed {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-icon-closed {
    display: none;
    font-size: 1rem;
  }
}

.heading-15 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (min-width: 1920px) {
  .heading-15 {
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 1440px) {
  .heading-15 {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2.5px;
  }
}

@media screen and (max-width: 767px) {
  .heading-15 {
    font-size: 13px;
  }
}

@media screen and (max-width: 479px) {
  .heading-15 {
    font-size: 0.8rem;
    letter-spacing: 0.6px;
  }
}

.dropdown-chevron {
  font-family: 'Fa Solid 900';
}

@media screen and (max-width: 991px) {
  .dropdown-chevron {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.dropdown-list {
  position: static;

  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: flex-start;

  border: 1px none black;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (min-width: 1920px) {
  .dropdown-list {
    padding-top: 15px;
  }
}

.div-block-9 {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  font-size: 1rem;
  line-height: 1.6rem;
}

.text-block-6 {
  display: flex;
  padding-top: 10px;
  padding-right: 135px;
  justify-content: flex-start;
  align-items: stretch;

  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 1920px) {
  .text-block-6 {
    margin-bottom: 10px;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .text-block-6 {
    padding-right: 60px;
  }
}

@media screen and (max-width: 991px) {
  .text-block-6 {
    padding-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .text-block-6 {
    font-size: 0.9rem;
  }
}

.link-3 {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (min-width: 1920px) {
  .link-3 {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.link-3:hover {
  color: var(--_rosenlew---rosenlew-punainen-full);
}

.bold-text-2 {
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .bold-text-2 {
    font-size: 1rem;
  }
}

.container-3 {
  margin-right: auto;
  margin-left: auto;
  padding: 40px 20px;
  background-color: var(--_rosenlew---rosenlew-punainen-full);
}

@media screen and (min-width: 1920px) {
  .container-3 {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .container-3 {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .container-3 {
    width: auto;
    max-width: 100%;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer-bottom {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .footer-bottom {
    margin-right: 3%;
    margin-left: 3%;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer-copyright {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 1920px) {
  .footer-copyright {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-block-two {
  display: flex;
  margin-right: 20%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .footer-block-two {
    margin-right: 0%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-block-two {
    margin-right: auto;
  }
}

@media screen and (max-width: 479px) {
  .footer-block-two {
    margin-top: 20px;
    margin-right: 0px;
  }
}

.footer-link-two {
  margin-top: 0px;
  margin-bottom: 10px;

  color: hsla(228, 0.00%, 100.00%, 1.00);
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;

  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  .footer-link-two {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.footer-link-two:hover {
  color: hsla(0, 0.00%, 82.75%, 1.00);
}

@media screen and (max-width: 479px) {
  .footer-link-two {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-34 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.link-block-11 {
  margin-left: 1rem;
}

@media screen and (max-width: 767px) {
  .link-block-11 {
    margin-right: 1rem;
    margin-left: 0rem;
  }
}

.image-36-copy {
  width: 2rem;
}

@media screen and (min-width: 1920px) {
  .image-36-copy {
    width: 2.6rem;
  }
}

.image-36 {
  display: none;
  width: 2rem;
}

@media screen and (min-width: 1920px) {
  .image-36 {
    width: 2.6rem;
  }
}